
* {
	font-family:'Source Sans Pro', sans-serif;
}

header {
	position:fixed;
}


#headerbackground{
    width:100%;
    position:fixed;
    top:0%;
    right:0%;
}
#footerbackground{
    background-color:#003399; 
    width:100%;
    position:fixed;
    bottom:0%;
    right:0%;
	color:white;
	text-align:center;
}


#changeText{
	font-size:2em;
	padding:5%;
	margin-top:5%;
}


#Answers{

	font-size:1.5em;
	padding:5%;
	margin-top:5%;

}

#PostingQuestions{
	font-size:1.2em;
	padding:5%;
	margin-top:1%;
	padding-bottom:2%;

}
 


#logo{
     position:fixed;
     right:47%;
}


 
 #login{
	 font-size:0.5em;
 }
 
 #logout {
	 position:fixed;
	 top:1%;
	 right:1%;
 }
 
.bottombtn {
	position:fixed;
	bottom:10%;
	right:1%;
	min-width:200px;
}

.bottombtn button {
	float:right;
	padding:4%;
	margin:1%;
}
 
form{
    margin-top:5%;
}

.button{
    margin-left:1%;
	background-color: white; 
    color: black; 
    border: 1.5px solid #003399;
	padding:0.8%;
	font-size:1em;
	cursor:pointer;
}

.button:hover{
	background-color: #003399; 
    color: white; 	
}

#savebtn {
	padding:0.5%;
	font-size:0.5em;
}

#icon{
	margin-right:1.5%;
}

input[type='radio']{
	vertical-align:middle;
	margin:0.5%;
}

input[type='checkbox']{
	vertical-align:middle;
	margin:0.5%;
}

label {
	cursor:pointer;
}

button {
	margin-left:1%;
	background-color: white; 
    color: black; 
    border: none;
	padding:0% 0.5%;
	font-size:0.5em;
	cursor:pointer;
}

button:hover {
	background-color: #003399; 
    color: white; 
}

.clear{
	clear:both;
}

